div{
  background-image: url("https://i.ytimg.com/vi/CjOS2sEa50I/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCDH6FqF5RUPjr2RsKWCWWSgHvHow");
  text-align: center;
  color: red;
  background-color: lightslategray;
  height: 5cm;
}